html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

text:not([fill="#ffffff"]):not([font-size="15"]) {
  fill: #ffffff;
}

.charts-container {
  padding: 5px 50px;
  background: #FAFAFA;
}

.columns {
  padding: 5px;
  padding-left: 0;
}

.columns:last-child {
  padding-left: 20px;
}

.chart-title {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #F5F5F5;
}

.box-4,
#call_analysis_container,
#reasons_for_not_selling_container,
#bv_and_ba_container,
#dsr_performance_container {
  border-radius: 3px;

  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
     -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
          box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
}

.box-4 {
  display: inline-block;
  width: 31%;
  background-color: #4497e2;
  color: #fff;
  font-weight: normal;
  min-height: 95px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.box-4 .content-icons {
  display: inline-block;
  width: 65px;
  margin: 10px 2% 0 15%;
  vertical-align: middle;
}

.box-4:not(:first-of-type):not(:nth-child(4)) {
  margin-left: 3%;
  margin-bottom: 20px;
}

.box-4 .box-header {
  background-color: #2986da;
  padding: 5px;
}

.box-4 .box-header h5 {
  font-weight: 700;
  color: #FFFFFF;
  margin: 0;
}

.box-4 .box-content span {
  font-size: 19px;
}

.box-4 .box-footer p {
  font-weight: 700;
  font-size: 20px;
}

.box-4 .box-footer .blank {
  color: transparent;
}

#bv_and_ba_container div div div g g g g text[fill="#ffffff"] {
  fill: #ffffff;
}

#bv_and_ba_container,
#call_analysis_container {
  margin-bottom: 20px;
}

#bv_and_ba_container {
  background: #707cbb;
}

#bv_and_ba_container .chart-title {
  background: #566098;
}

#call_analysis_container,
#reasons_for_not_selling_container {
  background-color: #FFFFFF;
}

#call_analysis_container .chart-title,
#reasons_for_not_selling_container .chart-title {
  border: none;
  margin: 0;
  text-align: left;
}

#reasons_for_not_selling_container {
  border: none;
  margin: 0;
  text-align: left;
  color: #A3A3A3;
  font-weight: 700;
  margin-bottom: 20px;
  background: #1661a2;
}

#reasons_for_not_selling_container .chart-title {
  background: #095394;
}

.bv_and_ba_legend {
  margin-top: 10px;
  position: relative;
  padding: 0 5px 30px 5px;
  color: #FFFFFF;
  background: #707CBB;
}

.bv_and_ba_legend .months {
  /*display: none;*/
}

.bv_and_ba_legend table {
  font-size: 13px;
  text-align: center;
}

.bv_and_ba_legend table td {
  border: 1px solid #cecece;
  border-top: 0;
}

.bv_and_ba_legend table .legends {
  width: 15%;
}

.bv_and_ba_legend table tr:first-child th {
  border: 0;
}

#call_analysis_container {
  width: 100%;
  background-color: #FFF;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  overflow-x: auto;
  overflow-y: hidden;
  background: #2d6ebd;
  border-radius: 0 3px 3px 3px;
}

#call_analysis_container .chart-title {
  background: #2a65ad;
}

#call_analysis_container .chart {
  display: inline-block;
}

#call_analysis_container #call_analysis_b {
  padding-bottom: 5px;
}

span.buying-accounts:after {
    content: '.';
    font-size: 55px;
    position: absolute;
    top: -24px;
    left: 10px;
    color: #DC3912;
}

#call_analysis_a div div div svg g g g g text {
  fill: #ffffff;
}

#dsr_performance_container {
  position: relative;
  background: #4d6ba2;
}

#dsr_performance_container .chart-title {
  margin-bottom: 0;
  background: #425D90;
}

#dsr_performance_container .pagination {
  position: absolute;
  bottom: 15px;
  width: 100%;
  margin: 0;
  text-align: center;
  color: #fff;
}

#nextButton, #prevButton {
  color: #FFFFFF;
}

@media screen and (max-width: 1630px) {
  .box-4 {
    width: 30.97%;
  }
}


@media screen and (max-width: 1585px) {
  .box-4 {
    width: 30.85%;
  }
}

@media screen and (max-width: 1345px) and (min-width: 1200px) {
  .bv_and_ba_legend {
    margin-top: 0;
    overflow-x: scroll;
  }

  .bv_and_ba_legend table {
    min-width: 870px !important;
    width: 100% !important;
  }

  .bv_and_ba_legend .months {
      display: table-cell;
      font-weight: normal;
      border: 1px solid #cecece!important;
  }
}

@media screen and (max-width: 1199px) and (min-width: 846px) {
  .box-4 {
      width: 30.9%;
  }
}

@media screen and (max-width: 1199px) {
  .columns:last-child {
    padding-left: 0;
  }
}

@media screen and (max-width: 679px) {
  .charts-container {
    padding: 5px 25px;
  }

  .bv_and_ba_legend {
    margin-top: 0;
    overflow-x: scroll;
  }

  .bv_and_ba_legend table {
    min-width: 870px !important;
    width: 100% !important;
  }

  .bv_and_ba_legend .months {
      display: table-cell;
      font-weight: normal;
      border: 1px solid #847C8E !important;
  }
}

@media screen and (max-width: 607px){
  .box-4 {
      width: 30.75%;
  }

  .box-4 .content-icons {
    width: 45px;
  }
}

@media screen and (max-width: 568px){
  .box-4 .box-header h5 {
    font-size: 11px;
  }

  .box-4 .box-content,
  .box-4 .box-footer {
    font-size: 12px;
  }
}

@media screen and (max-width: 510px) {
  .box-4 {
      width: 49%;
  }
}